<%- include("../../partials/public-header") %>

<div class="login-box">
  <div class="login-logo"><b>Change</b>Password</div>
  <div class="card">
    <div class="card-body login-card-body">      
      <form action="/change-password" method="POST">
        <div class="input-group mb-3">
          <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-lock"></span></div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-check-circle"></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("../../partials/footer") %>
