<%- include('../../partials/public-header') %>

<div class="login-box">
  <div class="login-logo"><b>Asset</b>Management</div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <form action="/login" method="POST">
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email" value="manager@ub.edu.bz" required>
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-envelope"></span></div>
          </div>
        </div>        
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" id="password-field" value="@Temp123" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span id="toggle-password" class="fas fa-eye-slash" style="cursor: pointer;"></span>
            </div>
          </div>
        </div>              
        
        <div class="row">
          <div class="col-4 offset-8">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const passwordInput = document.getElementById('password-field');
    const toggleIcon = document.getElementById('toggle-password');

    toggleIcon.addEventListener('click', function () {
      const isHidden = passwordInput.type === 'password';
      passwordInput.type = isHidden ? 'text' : 'password';
      toggleIcon.classList.toggle('fa-eye');
      toggleIcon.classList.toggle('fa-eye-slash');
    });
  });
</script>



<%- include('../../partials/public-footer') %>
