<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Asset Management - Login</title>  
  <link rel="icon" type="image/x-icon" href="/images/app-icon.jpg">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

  <!-- Theme style -->
  <link rel="stylesheet" href="/styles/theme.css">
</head>
<body class="hold-transition login-page">
