<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <div class="brand-link" style="color: white">
      <!-- <img src="images/app-icon.png" alt="Asset Management System" class="brand-image img-circle elevation-3"> -->
      <i class="fa-solid fa-boxes-stacked" style="margin: 0 5px 0 18px;"></i>
      <span class="brand-text font-weight-light">Asset Management</span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="images/profile-male-icon.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info" style="color:white;">
            Dair Aban
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fa-solid fa-gauge-high"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/assets" class="nav-link">
              <i class="nav-icon fas fa-boxes"></i>
              <p>
                Assets
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/categories" class="nav-link">
              <i class="nav-icon fas fa-tags"></i>
              <p>
                Categories
              </p>
            </a>
          </li>     
          
          <li class="nav-item">
            <a href="/requests" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p>
                Asset Requests
              </p>
            </a>
          </li> 

          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p>
                Asset Requests
                <i class="right fas fa-angle-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/new-asset-requests" class="nav-link ">
                  <i class="nav-icon fas fa-file-signature"></i>
                  <p>New Asset Requests</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/replacement-requests" class="nav-link ">
                  <i class="nav-icon fas fa-sync-alt"></i>
                  <p>Replacement Requests</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/repair-requests" class="nav-link ">
                  <i class="nav-icon fas fa-tools"></i>
                  <p>Repair Requests</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/disposal-requests" class="nav-link ">
                  <i class="nav-icon fas fa-trash-alt"></i>
                  <p>Disposal Requests</p>
                </a>
              </li>
            </ul>
          </li> -->

          <li class="nav-item">
            <a href="/transfers" class="nav-link">
              <i class="nav-icon fas fa-exchange-alt"></i>
              <p>
                Transfers
              </p>
            </a>
          </li> 

          <li class="nav-item">
            <a href="/employees" class="nav-link">
              <i class="nav-icon fas fa-user-tie"></i>
              <p>
                Employees
              </p>
            </a>
          </li> 

          <li class="nav-item">
            <a href="/campuses" class="nav-link">
              <i class="nav-icon fas fa-university"></i>
              <p>
                Campuses
              </p>
            </a>
          </li> 

          <li class="nav-item">
            <a href="/reports" class="nav-link">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Reports
              </p>
            </a>
          </li> 

          <li class="nav-header">SYSTEM SETTINGS</li>

          <li class="nav-item">
            <a href="/users" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Users
              </p>
            </a>
          </li> 

          <li class="nav-item">
            <a href="/roles" class="nav-link">
              <i class="nav-icon fas fa-user-shield"></i>
              <p>
                Roles
              </p>
            </a>
          </li> 

        </ul>
      </nav>
    </div>
  </aside>